<nav>
    <% if( user ) { %>
        <a href="/listings">Search</Search></a>
        <a href="/users/profile">My Profile</a>
        <a href="/auth/sign-out">Sign out</a>
        <% } else { %>
            <a href="/auth/sign-up">Sign up</a>
            <a href="/auth/sign-in">Sign in</a>
            <% } %>
</nav>