<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<nav>
    <% if( user ) { %>
        <a href="/homes">Search</Search></a>
        <a href="/users/myprofile">My Profile</a>
        <a href="/auth/sign-out">Sign out</a>
        <% } else { %>
            <a href="/auth/sign-up">Sign up</a>
            <a href="/auth/sign-in">Sign in</a>
            <% } %>
</nav>