#home-image {
    max-width: 250px;
    max-height: 300px;
}

#show-image {
    max-width: 700px;
    max-height: 650px;
}

#landing-image {
    max-width: 150x;
    max-height: 200px;
}

li {
    list-style-type: none;
}

/* body {
    background-color: red;
} */