@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300..700&display=swap');

body {
    font-family: "Varta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

#home-image {
    max-width: 250px;
    max-height: 300px;
}

#show-image {
    max-width: 700px;
    max-height: 650px;
}

#landing-image {
    max-width: 150x;
    max-height: 200px;
}

li {
    list-style-type: none;
}

/* body {
    background-color: red;
} */

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin-top: 20px;
}

ul li {
    list-style: none;
    border-radius: 8px;
    box-shadow: 0 2px 6px;
    padding: 12px;
    text-align: center;
}

#homepage {
    display: flex;
    flex-direction: column;

}

#home-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}

ul li p {
    margin: 4px 0;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: left;
    padding: 0 50px;
    margin: 10px;
    gap: 50px;
}

nav a {
    font-size: large;
}

button {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}