@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300..700&display=swap');

body {
    font-family: "Varta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    background-color: rgb(207, 225, 225);
    margin: 50px;
}

#home-image {
    max-width: 250px;
    max-height: 300px;
}

#show-image {
    max-width: 500px;
    max-height: 600px;
    border-radius: 6px;
    padding: 20px;
    background-color: rgb(98, 176, 161);
    box-shadow: 0 2px 6px;
}

#landing-image {
    max-width: 150x;
    max-height: 200px;
}

li {
    list-style-type: none;
}

/* body {
    background-color: red;
} */

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin-top: 20px;
}

ul li {
    list-style: none;
    border-radius: 8px;
    box-shadow: 0 2px 6px;
    padding: 12px;
    text-align: center;
    background-color: rgb(90, 159, 157);
    font-weight: bold;
}

#homepage {
    display: flex;
    flex-direction: column;

}

#home-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}

ul li p {
    margin: 4px 0;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #f6f3f0;
}

nav {
    display: flex;
    justify-content: left;
    gap: 10px;
}

nav a {
    font-size: small;
    padding: 3px 10px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: rgb(90, 159, 157);
}

button {
    background: rgb(90, 159, 157);
    color: #f3f1ef;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    font-weight: bold;
}

#home-card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#home-card-section h1 {
    margin: 0;
}


#additionals-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#trailing-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#swap-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#swap-div p {
    margin: 0;
}

#new-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

#edit-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}