@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300..700&display=swap');

body {
    font-family: "Varta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

#home-image {
    max-width: 250px;
    max-height: 300px;
}

#show-image {
    max-width: 700px;
    max-height: 650px;
}

#landing-image {
    max-width: 150x;
    max-height: 200px;
}

li {
    list-style-type: none;
}

/* body {
    background-color: red;
} */


/* Homepage */

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#homepage {
    display: flex;
    flex-direction: column;

}